*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../war.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header h1{
    color: red;
}
.navbar ul{
    list-style-type: none;
    float: left;
    margin-top: 25px;
    padding:10px;
}
.navbar ul li{
   display: block;
   padding-top: 40px;
   padding-left: 10px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  transition: 0.6s ease ;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
}
.navbar ul li .active a{
    background-color: white;
    color: #000;
}
header .logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding:20px;
}
.navbar1 ul{
    list-style-type: none;
    float: right;
    margin-top: 20px;
    padding:10px;
}
.navbar1 ul li{
    display: inline-block;
}
.navbar1 ul li a{
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid black transparent;
  transition: 0.6s ease ;
}
.navbar1 ul li a:hover{
    background-color: white;
    color: black;
}
.navbar1 ul li .active a{
    background-color: white;
    color: #000;
}
.body .spiderman img{
    position: absolute;
    top: 40%;
    left: 30%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 7%;
}
.body .spiderman a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid black transparent;
    transition: 0.6s ease ;
    margin-left: 60px;
    position: absolute;
    color: white;
    top: 60%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 10%;
}
.body .spiderman a:hover{
    color: red;
}
.body .thor img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 8%;
}
.body .thor a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid black transparent;
    transition: 0.6s ease ;
    margin-left: 50px;
    position: absolute;
    color: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10%;
}
.body .thor a:hover{
    color: red;
}
.body .hulk img{
    position: absolute;
    top: 40%;
    left: 70%;
    margin-left: 10px;
    transform: translate(-50%,-50%);
    width: 8%;
}
.body .hulk a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid black transparent;
    transition: 0.6s ease ;
    margin-left: 60px;
    position: absolute;
    color: white;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 10%;
}
.body .hulk a:hover{
    color: red;
}
.body .ironman img{
    position: absolute;
    top: 40%;
    left: 90%;
    margin-left: 10px;
    transform: translate(-50%,-50%);
    width: 8%;
}
.body .ironman a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid black transparent;
    transition: 0.6s ease ;
    margin-left: 60px;
    position: absolute;
    color: white;
    top: 60%;
    left: 90%;
    transform: translate(-50%,-50%);
    width: 10%;
}
.body .ironman a:hover{
    color: red;
}
.body .moonknight img{
    position: absolute;
    top: 80%;
    left: 90%;
    margin-left: 10px;
    transform: translate(-50%,-50%);
    width: 8%;
}
.body .moonknight a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid black transparent;
    transition: 0.6s ease ;
    margin-left: 40px;
    position: absolute;
    color: white;
    top: 100%;
    left: 90%;
    transform: translate(-50%,-50%);
    width: 10%;
}
.body .moonknight a:hover{
    color: red;
}
.body .thanos img{
    position: absolute;
    top: 80%;
    left: 30%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 8%;
}
.body .thanos a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid black transparent;
    transition: 0.6s ease ;
    margin-left: 70px;
    position: absolute;
    color: white;
    top: 100%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 10%;
}
.body .thanos a:hover{
    color: red;
}
.body .luki img{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 7%;
}
.body .luki a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid black transparent;
    transition: 0.6s ease ;
    margin-left: 50px;
    position: absolute;
    color: white;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10%;
}
.body .luki a:hover{
    color: red;
}
.body .captain img{
    position: absolute;
    top: 80%;
    left: 70%;
    margin-left: 10px;
    transform: translate(-50%,-50%);
    width: 8%;
}
.body .captain a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid black transparent;
    transition: 0.6s ease ;
    margin-left: 10px;
    position: absolute;
    color: white;
    top: 100%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 10%;
}
.body .captain a:hover{
    color: red;
}
@media (max-width:400px){
    .navbar ul{
        list-style-type: none;
        float: left;
        margin-top: 5px;
        padding:3px;
    }
    .navbar ul li{
       display: block;
       padding-top: 5px;
       padding-left: 1px;
    }
    .navbar ul li a{
      text-decoration: none;
      color: white;
      padding: 5px 1px;
      transition: 0.6s ease ;
    }
    .navbar ul li a:hover{
        background-color: white;
        color: black;
    }
    .navbar ul li .active a{
        background-color: white;
        color: #000;
    }
    header .logo{
        float: left;
        margin-top: 20px;
        margin-left: 20px;
        padding:20px;
    }
    .navbar1 ul{
        list-style-type: none;
        float: right;
        margin-top: 5px;
        padding:5px;
    }
    .navbar1 ul li{
        display: inline-block;
    }
    .navbar1 ul li a{
      text-decoration: none;
      color: white;
      padding: 5px 1px;
      border: 1px solid black transparent;
      transition: 0.6s ease ;
    }
    .navbar1 ul li a:hover{
        background-color: white;
        color: black;
    }
    .navbar1 ul li .active a{
        background-color: white;
        color: #000;
    }
    .title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .title h1{
        color: white;
        font-size: 30px;
    }
    .button{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .btn{
        border: 1px solid white;
        padding: 10px 30px;
        color: white;
        text-decoration: none;
        transition: 0.6s ease ;
    }
    .btn:hover{
        background-color: white;
        color: #000;
    }
    .body .spiderman img{
        position: absolute;
        top: 50%;
        left: 10%;
        margin-left: 5px;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .spiderman a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid black transparent;
        transition: 0.6s ease ;
        margin-left: 0px;
        position: absolute;
        color: white;
        top: 60%;
        left: 10%;
        transform: translate(-50%,-50%);
        width: 8%;
    }
    .body .spiderman a:hover{
        color: red;
    }
    .body .thor img{
        position: absolute;
        top: 50%;
        left: 40%;
        margin-left: 10px;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .thor a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid black transparent;
        transition: 0.6s ease ;
        margin-left: 5px;
        position: absolute;
        color: white;
        top: 60%;
        left: 40%;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .thor a:hover{
        color: red;
    }
    .body .hulk img{
        position: absolute;
        top: 50%;
        left: 70%;
        margin-left: 10px;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .hulk a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid black transparent;
        transition: 0.6s ease ;
        margin-left: 5px;
        position: absolute;
        color: white;
        top: 60%;
        left: 70%;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .hulk a:hover{
        color: red;
    }
    .body .ironman img{
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: 10px;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .ironman a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid black transparent;
        transition: 0.6s ease ;
        margin-left: 5px;
        position: absolute;
        color: white;
        top: 60%;
        left: 100%;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .ironman a:hover{
        color: red;
    }
    .body .moonknight img{
        position: absolute;
        top: 80%;
        left: 100%;
        margin-left: 10px;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .moonknight a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid black transparent;
        transition: 0.6s ease ;
        margin-left: 5px;
        position: absolute;
        color: white;
        top: 90%;
        left: 100%;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .moonknight a:hover{
        color: red;
    }
    .body .thanos img{
        position: absolute;
        top: 80%;
        left: 10%;
        margin-left: 10px;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .thanos a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid black transparent;
        transition: 0.6s ease ;
        margin-left: 5px;
        position: absolute;
        color: white;
        top: 90%;
        left: 10%;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .thanos a:hover{
        color: red;
    }
    .body .luki img{
        position: absolute;
        top: 80%;
        left: 40%;
        margin-left: 10px;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .luki a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid black transparent;
        transition: 0.6s ease ;
        margin-left: 5px;
        position: absolute;
        color: white;
        top: 90%;
        left: 40%;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .luki a:hover{
        color: red;
    }
    .body .captain img{
        position: absolute;
        top: 80%;
        left: 70%;
        margin-left: 10px;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .captain a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid black transparent;
        transition: 0.6s ease ;
        margin-left: 5px;
        position: absolute;
        color: white;
        top: 90%;
        left: 70%;
        transform: translate(-50%,-50%);
        width: 10%;
    }
    .body .captain a:hover{
        color: red;
    }

}