* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
video{
    position: absolute;
    margin-top: 70px;
    width: 100%;
    height: 600px;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .logo{
    margin-left: 55px;
    color: #4dbf00;
    position: absolute;
    left: 40px;
    top: 15px;
  }
  .menu{
    margin-left: 70px;
  }
  .menu ul{
    display: flex;
    float: left;
    margin-left: 310px;
    font: bold;
    position: relative;
    bottom: 41px;
    color: white;
  }
  .menu ul li{
   text-decoration: none;
   list-style-type: none;
  
  }
  .menu ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
   }
   .navbar{
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .menu ul{
    display: flex;
    float: left;
    margin-left: 180px;
    font: bold;
    position: relative;
    bottom: 45px;
    color: white;
  }
  .menu ul li{
   text-decoration: none;
   list-style-type: none;
   padding: 30px;
  }
  .menu ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
   }
   .menu ul li a:hover{
    color: #4dbf00;
   } 
  .kyu{
    color: white;
    position: absolute;
    right: 120px;
    bottom: 15px;
    font-size: 1.2rem;
  }
  .kyu:hover{
    font-size: 1.3rem;
    transition: .4s ease-in-out;
  }
  .toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    float: right;
    margin-right: 40px;
    top: -25px;
  }
.toggle-icon{
    color: yellow;
  }
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }
  .back{
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 30px;
    padding-top: 22px;
}
.back i{
    color: white;
    cursor: pointer;
}
.container{
    background-color: #151515;
    min-height: calc(100vh - 200px);
    width: 100%;
    color: white;
  }
 title{
    width: 100%;
    background-color: #4dbf00;
 }
 .container h1{
    color: white;
    position: absolute;
    bottom: 130px;
    margin-left: 60px;
 }
 .bozo{
  color: white;
  position: absolute;
  top: 890px;
  left: 40px;
 }
 .trailor{
  display: flex;
  position: absolute;
  top: 850px;
  position: absolute;
  bottom: -900px;
  display: flex;
  grid-gap: 1rem;
  height: 300px;
  text-align: center;
  width: 95%;
  border: 2px solid white;
  margin-left: 30px;
  border-radius: 25px;
  margin-top: 100px;
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}
 .trailor::-webkit-scrollbar {
  display: none;
}
 .trailor-container{
  border: 2px solid white;
  margin: 30px;
  width: 20%;
  aspect-ratio: 5 / 3;
  height: 230px;
  border-radius: 30px;
  margin-bottom: 30px;
  user-select: none;
  scroll-snap-align: start;
 }
 .trailor-container img{
  max-width: 90%;
  max-height: 80%;
  margin-top: 15px;
  object-fit: cover;
  height: 12em;
  border-radius: 10px;
}
.trailor-container img:hover{
  border-radius: 20px;
  color: #4dbf00;
  padding: 5px 5px;
  transition: .4s ease-in-out;
}
 .container p{
    color: white;
    position: absolute;
    bottom: 60px;
    margin-left: 60px;
 }
 .download i{
    position: absolute;
    bottom: -80px;
    margin-left: 1360px;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
 }
 .download i:hover{
  font-size: 1.9rem;
  transition: .4s ease-in-out;
 }
 body{
    background-color: #151515;
}
 .discription{
    position: absolute;
    bottom: -150px;
    width: 90%;
    margin-left: 60px;
    border-radius: 20px;
    height: 0px;
   border-bottom: 1px solid #2E8BC0;
 }
.title12{
  position: absolute;
  top: 1290px;
  width: 100%;
  margin-left: 60px;
  cursor: pointer;
}
.other img{
  max-width: 100%;
  object-fit: contain;
  height: 12em;
  border-radius: 20px;
}
.other img:hover{
  border-radius: 20px;
  color: #4dbf00;
  padding: 10px 5px;
  transition: .4s ease-in-out;
}
.wrapper {
  position: absolute;
  bottom: -900px;
  display: flex;
  grid-gap: 1rem;
  height: 40%;
  width: 95%;
  border: 2px solid white;
  margin-left: 30px;
  border-radius: 25px;
  margin-top: 100px;
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}
.wrapper::-webkit-scrollbar {
  display: none;
}
.movie-list-item-img{
  width: 80%;
  height: 70%;
  border-radius: 20px;
  transition: ease-in-out;
}
.movie-list-item-img:hover{
padding: 10px 10px;
border-radius: 20px;
transition:.4s ease-in-out;
}
.slider {
  min-width: 200px;
  aspect-ratio: 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
  scroll-snap-align: start;
  font-weight: 600;
  user-select: none;
}
.contact{
  width: 100%;
  position: absolute;
  bottom: -1160px;
  text-align: center;
}
.contact i{
  margin-top: 10px;
  cursor: pointer;
  color: white;
}
.contact .best:hover{
  color: red;
}
.contact .best1:hover{
  background: #d6249f;
  border-radius: 40px;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.review{
  color: white;
  width: 100%;
  position: absolute;
  bottom: -1060px;
  text-align: center;
  border-radius: 25px;
}
.review textarea{
  border-radius: 30px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  left: 50px;
  background-color: black;
  color: white;
}
.review button{
  width: 90px;
  height: 30px;
  text-align: center;
  color: white;
  position: relative;
  border-radius: 30px;
  top: 40px;
  right: 270px;
  background-color: black;
  border: 2px solid white;
}
.review button:hover{
 color: #4dbf00;
 border: 2px solid #4dbf00;
}



.contact.active{
  color: black;
}
.contact i.active{
  color: black;
}
.review.active{
  color: black;
}
.review button.active{
  color: black;
  background-color: white;
  border: 2px solid black;
}
.review textarea.active{
  background-color: white;
  color: black;
}
.toggle.active{
  background-color: black;
}
.toggle-ball.active{
  background-color: white;
  transform: translateX(-20px);
}
.kyu.active{
  color: black;
}

.movie-list-wrapper.active{
  position: relative;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 25px;
}
.container.active{
  background-color: white;
}
.movie-list-title.active{
  color: black;
}
.navbar.active{
  background-color: white;
  color: black;
  border-bottom: 2px solid black;
}
.container.active{
  background-color: white
}
body.active{
  background-color: white;
}
.wrapper.active{
  border: 2px solid black;
}
.title12 h3.active{
  color: black;
}
.trailor-container.active{
  border: 2px solid black;
}
.discription h1.active{
  color: black;
}
.discription p.active{
  color: black;
}
.menu ul li a.active{
  color: black;
}
.back i.active{
  color: black;
}
.download i.active{
  color: black;
}
.trailor h2.active{
  color: black;
}






@media only screen and (max-width: 940px){

  video{
    width: 400%;
    height: 700px;
  }
  .container{
    background-color: #151515;
    width: 350%;
    height: 50%;
    color: white;
  }
  .discription{
    width: 350%;
    height: 100px;
    position: absolute;
    top: 900px;
  }
  .download i{
    position: absolute;
    top: 880px;
    right: -1000px;
  }
  .discription h1{
    position: relative;
    top: -40px;
  }
  .discription p{
    position: relative;
    top: 10px;
  }
  .title12{
  position: absolute;
  top: 1600px;
  left: 40px;
  font-size: 2.8rem;
  }
  .wrapper{
    width: 390%;
    height: 500px;
    position: absolute;
    top: 1600px;
    grid-gap: 8.5rem;
  }
  .wrapper img{
    width: 150%;
    height: 200%;
  }
  .review{
    position: relative;
    top: 2350px;
    font-size: 2.9rem;
    left: 90px;
  }
  .review button{
   width: 130px;
   height: 50px;
   position: relative;
   right: 310px;
  }
  .contact{
    position: relative;
    left: 90px;
    top: 2540px;
    font-size: 2.9rem;
  }
  .trailor{
    width: 380%;
    height: 380px;
    position: absolute;
    top: 1060px;
    left: 0px;
    font-size: 1.2rem;
  }
  .trailor img{
    width: 150%;
    height: 100%;
  }
  .trailor-container{
    width: 400px;
    height: 310px;
    font-size: 1.8rem;
  }
  .bozo{
    position: absolute;
    top: 1070px;
    font-size: 2.8rem;
  }
  
  
  
  }