*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../war.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header h1{
    color: red;
    margin: 20px;
}
.heading{
    color: white;
    margin: 20px;
    padding-top: 20px;
}
.button ul{
    list-style-type: none;
    float: right;
    padding:5px;
}
.button ul li{
   display: block;
   padding-right: 10px;
}
.button ul li a{
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  transition: 0.6s ease ;
}
.button ul li a:hover{
    color: black;
    background-color: white;
}
.main img{
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 10%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main1 img{
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main2 img{
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main3 img{
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 70%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main4 img{
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 90%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main5 img{
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 10%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main6 img{
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 30%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width:15%;
}
.main7 img{
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main8 img{
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 70%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main9 img{
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 90%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main10 img{
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 10%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width:15%;
}
.main11 img{
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 30%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main12 img{
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main13 img{
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 70%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}
.main14 img{
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 90%;
    margin-left: 30px;
    transform: translate(-50%,-50%);
    width: 15%;
}